@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --el-color-success: #5cb87a;
  --star-horse-style: #409EFF;
  --star-horse-white: #fff;
  --star-horse-background: #fff;
  --star-horse-shadow: #f7f7f9;
  --star-horse-disable: gray;
  --star-horse-font-color: #eee;
  --star-horse-border—color: #2233;
  --star-horse-shadow-rgba: rgba(75, 61, 89, 0.3);
  --el-header-padding: 0;
}

/* 滚动条样式 begin */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--star-horse-background);
  border: 0 #fff;
  border-radius: 50px;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
}

* {
  scrollbar-color: var(--star-horse-white) var(--star-horse-shadow);
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  offset-width: 0px;
}

a {
  text-decoration: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  background: var(--star-horse-background);
  height: 100%;

}

.el-dialog {
  padding: 0;
}

.el-tooltip__trigger:focus-visible {
  outline: unset;
}

/*或者是下面这个*/
.el-tooltip__trigger:first-child:focus-visible {
  outline: unset;
}

.el-header {
  --el-header-padding: 0;
}

.el-menu--horizontal {
  .el-menu, .el-sub-menu__title {
    border-bottom: unset !important;
  }
}

.el-dialog__header span {
  float: left;
}

.el-select, .el-input, .el-date-editor.el-input, .el-autocomplete, .el-input-number, .el-input-number--small {
  width: 100%;
}

.dialog-settings {
  .el-dialog__body {
    height: auto;
    flex-direction: column;
    display: flex;
    padding: 5px 5px 5px 8px;


    .cell {
      width: 100%;


    }
  }
}

.inner_button {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: none;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  li {
    text-wrap: none;
    padding: 0 10px;
    font-weight: 800;
  }
}

.page-up {
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: var(--star-horse-background);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  text-align: center;
  line-height: 40px;
  color: var(--star-horse-style);
}

.system-icon {
  list-style: none;
  height: 150px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: auto;

  li {
    height: 50px;
    padding: 10px;
    width: 50px;
    border: 1px solid var(--star-horse-white);;
  }

  li:hover {
  }

  .icon-active {
    background: var(--star-horse-background);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
  }
}

.el-menu {
  border-bottom: unset;
}

.el-menu-item {
  height: 40px;
  line-height: 40px;
}

.el-menu--vertical .el-menu-item a {
  color: #000000;
}

.app-menu {
  height: calc(100% - 320px) !important;
  overflow: auto;
}

.el-popper a {
  display: block;
  font-size: 12px;
  color: var(--star-horse-white);
}

.router-link-active, .router-link-exact-active {
  font-weight: bold;
}


.el-icon {
  svg {
    color: var(--star-horse-style);
  }
}

.instance-item {
  width: 100%;
  height: 220px;
  margin-bottom: 15px;

  .item-line {
    position: relative;
    height: 200px;
    padding-bottom: 20px;

    .line-node {
      position: absolute;
      min-height: 76px;
      max-height: 200px;
      overflow: hidden;
      width: 180px;
      left: 0;
      top: 0;
      border: var(--star-horse-style) 1px solid;
      border-radius: 5px;

      .node-title {
        height: 30px;
        width: 100%;
        background: var(--star-horse-background);
        font-size: 13px;
        align-items: center;
        justify-items: center;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;

        span {
          margin: 0 10px;
        }
      }

      .node-content {
        align-items: center;
        margin: auto;
        max-height: inherit;
        overflow-y: auto;

        .line-node-item {
          width: 95%;
          display: flex;
          margin: 5px auto;
          background: var(--star-horse-background);;
          font-size: 14px;
          overflow: hidden;
          justify-content: space-between;
          height: 34px;
          align-items: center;
          cursor: pointer;

          .title {
            padding-left: 15px;
            width: 50%;
          }

          .el-button {
            padding-right: 10px;
          }
        }
      }
    }
  }

  .item-bar {
    height: 30px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
    padding-top: 10px;
    flex: 1;

    .item-bar-left {
      font-size: 14px;
      margin-left: 15px;
      height: inherit;
      width: 85%;
    }

    .item-bar-right {
      justify-content: center;
      margin-right: 15px;
      vertical-align: middle;
      height: inherit;
    }
  }
}

.config-nav-bar {
  width: 100%;
  height: 40px;
  display: flex;
  background: var(--star-horse-font-color);
  z-index: 999;
  flex-direction: row;
  box-shadow: var(--star-horse-shadow) 0px -1px 0px 0px inset;
  align-items: center;
  justify-content: space-between;

  .nav-bar-left {
    width: 55%;
    height: inherit;
    display: flex;
    vertical-align: middle;
    align-items: center;

    span {
      margin-left: 15px;
    }
  }

  .nav-bar-right {
  }
}

.exception {
  background: #f56c6c;
}

.warning {
  background: #e6a23c;
}

.success {
  color: #5cb87a;
}

.info {
  width: 100%;
  color: var(--star-horse-white);
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .el-select {
    width: 30%;
  }
}

.el-dialog__body {
  max-height: calc(100% - 10px);
  overflow-y: auto;
  overflow-x: hidden;
}

.el-form-item__label {
  padding: 0 12px;
}

.el-cascader-menu {
  width: 100px !important;
}

.el-space__item {
  height: 100%;
}

.item, .audit_item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed var(--star-horse-style);
  line-height: 35px;
  height: 35px;
  align-items: center;
  width: 100%;

  label {
    flex-wrap: wrap;
    font-size: 12px;
    background-color: var(--star-horse-font-color);
    font-weight: bolder;
    text-align: right;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
  }

  .content {
    padding-left: 10px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    text-align: left;
    width: 100%;
    flex: 1;
  }
}

.audit_item:last-child {
  border-bottom: none;
}

#nprogress .bar {
  background-color: #16C2A3 !important;
}

.star-icon {
  font-size: 24px;
  color: var(--star-horse-style);
}

.star-page-icon {
  font-size: 20px;
  color: var(--star-horse-style);
}

button, button:focus, button:visited {
  border: none;
  outline: none;
}

.data-form {
  font-size: 12px;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.el-container {
  flex: 1;
  overflow: hidden;
}

.star-horse-form-container {
  height: 100%;
  width: 100%;
  padding: 5px;
}

.el-drawer {
  height: 100%;
  overflow: hidden;
}

.el-drawer__header {
  background: var(--star-horse-style);
  margin-bottom: unset;
  color: var(--star-horse-white);
  border-bottom: 1px solid #eee;
  padding: 10px;
}

hr {
  background: var(--star-horse-background);
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
}

.el-aside {
  overflow: hidden !important;
}

.star-horse-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .star-horse-header {
    width: 100%;
    z-index: 999;
    height: unset;
    flex-shrink: 0;
  }

  .star-horse-container-main {
    flex: 1;
    background: #fff;
    margin: 4px 0 0 0;

    .star-horse-left {
      height: 100%;
      width: var(--el-aside-width);
      display: flex;
      background: var(--star-horse-background);
      flex-direction: row;
    }

    .star-horse-main {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 0 10px 0 0;
      height: 100%;
      flex: 1;
      overflow: hidden;

      .nav_area {
        flex-shrink: 0;
      }

      .inner_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100% !important;
        padding: 5px;

        .search_btn {
          display: flex;

          .search_content {
            flex: 1;
          }

          .el-dropdown {
            vertical-align: top;
            justify-content: center;
            align-items: center;
            width: 80px;
          }
        }

      }
    }
  }
}

.el-form {
  height: 100%;
}

.main-design, .main-design-phone, .main-design-pad {
  flex: 1;
  padding-top: 5px;
  height: 100% !important;
  width: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
}

.main-design-phone {
  width: 420px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 0 1px 10px var(--star-horse-font-color);
}

.main-design-pad {
  width: 960px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 0 1px 10px var(--star-horse-font-color);
}

.el-card {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .el-card__header {
    padding: 10px 20px;
  }

  .demo-ruleForm {
    flex: 1;
    overflow: auto;
  }

  .dialog-footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    width: 100% !important;
    margin-top: 10px;
    flex-shrink: 0;
  }

  .el-card__body {
    padding: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex: 1 !important;
    /* margin: 5px !important;*/


    .el-vl__wrapper {
      height: 100%;

      .el-vl__window {
        height: 100%;
      }
    }

    svg[role="img"] {
      vertical-align: middle;
      color: var(--star-horse-style);
      padding-right: 5px;
    }

    .el-table {
      overflow: auto;
      flex: 1;
      padding-bottom: 0;
    }



    .el-pagination {
      height: 30px;
      box-sizing: border-box;
      margin-top: 5px;
      flex-shrink: 0;
      padding-left: 15px;
      border: 1px solid var(--star-horse-font-color);
    }
  }
}

.el-tabs {
  display: flex;
  /*flex-direction: column;*/
  height: 100%;

  .el-tabs__header {
    flex-shrink: 0;
  }

  .el-tabs__content {
    flex: 1;
    padding-bottom: 5px;

    .el-tab-pane {
      height: 100% !important;
    }

    .el-pagination {
      margin-bottom: 0;
    }
  }
}

.el-form {
  display: flex;
  width: 100%;
  flex-direction: column;

  .el-form-item {
    width: 100%;
    margin-bottom: 3px;

    .el-form-item__label {
      /*  min-width: 100px;*/
      padding: 3px 12px;
    }
  }

}

.comp-item {
  width: 100%;

  /* &:nth-child(n+1) {
     margin-top: 10px;
   }*/
}

.dy-tr {
  min-height: 40px;
}

.dynamic-table {
  width: 100%;
  text-align: center;
  min-height: 40px;
  border-collapse: collapse;
  table-layout: fixed;

}

.el-drawer__header {
  margin: unset !important;
  padding: 0 10px 0 20px !important;
  height: 50px !important;
  color: var(--star-horse-white) !important;
}

.el-drawer__body {
  padding: 5px !important;
}

.add-row {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  border: 1px dashed #eee;

  &:hover {
    cursor: pointer;
    border: 1px dashed var(--star-horse-style);
  }
}

.el-tree-node__label {
  margin-left: 5px;
}

.main-copyright {
  display: flex;
  margin-top: 3px;
  line-height: 30px;
  border-radius: 2px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background: var(--star-horse-background);
  width: 100%;
}
