@font-face {
  font-family: "star-horse-icons";
  src: url("./star-horse-icons.woff") format('woff');
  font-display: block;
}
.sh_icon {
  font-family: "star-horse-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sh-add-dept::before { content: "\e000"; }
.sh-add::before { content: "\e001"; }
.sh-advanced_template::before { content: "\e002"; }
.sh-advance_preps::before { content: "\e003"; }
.sh-alert::before { content: "\e004"; }
.sh-align_bottom::before { content: "\e005"; }
.sh-align_left::before { content: "\e006"; }
.sh-align_right::before { content: "\e007"; }
.sh-align_top::before { content: "\e008"; }
.sh-alipay::before { content: "\e009"; }
.sh-amplify::before { content: "\e00a"; }
.sh-arrow-double-down::before { content: "\e00b"; }
.sh-arrow-double-left::before { content: "\e00c"; }
.sh-arrow-double-right::before { content: "\e00d"; }
.sh-arrow-double-up::before { content: "\e00e"; }
.sh-arrow-down::before { content: "\e00f"; }
.sh-arrow-left::before { content: "\e010"; }
.sh-arrow-right::before { content: "\e011"; }
.sh-ashbin::before { content: "\e012"; }
.sh-audio::before { content: "\e013"; }
.sh-auditor::before { content: "\e014"; }
.sh-audit_node::before { content: "\e015"; }
.sh-autocomplete::before { content: "\e016"; }
.sh-auto_fit::before { content: "\e017"; }
.sh-back::before { content: "\e018"; }
.sh-backup::before { content: "\e019"; }
.sh-base_preps::before { content: "\e01a"; }
.sh-base_setting::before { content: "\e01b"; }
.sh-batch-add::before { content: "\e01c"; }
.sh-batch_delete1::before { content: "\e01d"; }
.sh-batch_delete2::before { content: "\e01e"; }
.sh-batch_delete3::before { content: "\e01f"; }
.sh-batch_download::before { content: "\e020"; }
.sh-box::before { content: "\e021"; }
.sh-branch_node::before { content: "\e022"; }
.sh-btn-upload::before { content: "\e023"; }
.sh-button::before { content: "\e024"; }
.sh-calendar::before { content: "\e025"; }
.sh-cancel::before { content: "\e026"; }
.sh-carbon-copy::before { content: "\e027"; }
.sh-card::before { content: "\e028"; }
.sh-card1::before { content: "\e029"; }
.sh-cascade::before { content: "\e02a"; }
.sh-cascader-field::before { content: "\e02b"; }
.sh-center::before { content: "\e02c"; }
.sh-charts::before { content: "\e02d"; }
.sh-check::before { content: "\e02e"; }
.sh-checkbox-field::before { content: "\e02f"; }
.sh-checkbox::before { content: "\e030"; }
.sh-clear-all::before { content: "\e031"; }
.sh-clone::before { content: "\e032"; }
.sh-close-all::before { content: "\e033"; }
.sh-close::before { content: "\e034"; }
.sh-code::before { content: "\e035"; }
.sh-collapse::before { content: "\e036"; }
.sh-color-field::before { content: "\e037"; }
.sh-color::before { content: "\e038"; }
.sh-component::before { content: "\e039"; }
.sh-condition::before { content: "\e03a"; }
.sh-config::before { content: "\e03b"; }
.sh-config1::before { content: "\e03c"; }
.sh-console_manage::before { content: "\e03d"; }
.sh-container::before { content: "\e03e"; }
.sh-content_manag::before { content: "\e03f"; }
.sh-copy::before { content: "\e040"; }
.sh-copy_node::before { content: "\e041"; }
.sh-crontab::before { content: "\e042"; }
.sh-cursor-move::before { content: "\e043"; }
.sh-custom_component::before { content: "\e044"; }
.sh-cut::before { content: "\e045"; }
.sh-data-card::before { content: "\e046"; }
.sh-data-syn::before { content: "\e047"; }
.sh-data-table::before { content: "\e048"; }
.sh-data-view::before { content: "\e049"; }
.sh-database::before { content: "\e04a"; }
.sh-data_center::before { content: "\e04b"; }
.sh-data_db::before { content: "\e04c"; }
.sh-data_edit::before { content: "\e04d"; }
.sh-date-field::before { content: "\e04e"; }
.sh-date-range-field::before { content: "\e04f"; }
.sh-datetime::before { content: "\e050"; }
.sh-default::before { content: "\e051"; }
.sh-delete-comp::before { content: "\e052"; }
.sh-delete-fill::before { content: "\e053"; }
.sh-delete::before { content: "\e054"; }
.sh-dept::before { content: "\e055"; }
.sh-diagram::before { content: "\e056"; }
.sh-direction-down::before { content: "\e057"; }
.sh-direction-left::before { content: "\e058"; }
.sh-direction-right::before { content: "\e059"; }
.sh-direction-up::before { content: "\e05a"; }
.sh-divider::before { content: "\e05b"; }
.sh-document::before { content: "\e05c"; }
.sh-document_download::before { content: "\e05d"; }
.sh-down-layer::before { content: "\e05e"; }
.sh-download-svg::before { content: "\e05f"; }
.sh-download::before { content: "\e060"; }
.sh-drag-move::before { content: "\e061"; }
.sh-drag::before { content: "\e062"; }
.sh-dustbin::before { content: "\e063"; }
.sh-edit::before { content: "\e064"; }
.sh-edit_node::before { content: "\e065"; }
.sh-ellipsis::before { content: "\e066"; }
.sh-email::before { content: "\e067"; }
.sh-empty_image::before { content: "\e068"; }
.sh-empty_setting::before { content: "\e069"; }
.sh-equal::before { content: "\e06a"; }
.sh-event-action::before { content: "\e06b"; }
.sh-event::before { content: "\e06c"; }
.sh-event_node::before { content: "\e06d"; }
.sh-excel-export::before { content: "\e06e"; }
.sh-excel-upload::before { content: "\e06f"; }
.sh-exchange::before { content: "\e070"; }
.sh-exclamation-circle::before { content: "\e071"; }
.sh-exec1::before { content: "\e072"; }
.sh-expand::before { content: "\e073"; }
.sh-export::before { content: "\e074"; }
.sh-eye-close::before { content: "\e075"; }
.sh-eye-open::before { content: "\e076"; }
.sh-eye::before { content: "\e077"; }
.sh-fcswitch::before { content: "\e078"; }
.sh-file-add::before { content: "\e079"; }
.sh-file-export::before { content: "\e07a"; }
.sh-file-upload-field::before { content: "\e07b"; }
.sh-file_download::before { content: "\e07c"; }
.sh-file_transfer::before { content: "\e07d"; }
.sh-filter::before { content: "\e07e"; }
.sh-flow_setting::before { content: "\e07f"; }
.sh-flow_temp_icon::before { content: "\e080"; }
.sh-folder::before { content: "\e081"; }
.sh-form-template::before { content: "\e082"; }
.sh-form::before { content: "\e083"; }
.sh-format::before { content: "\e084"; }
.sh-friend_add::before { content: "\e085"; }
.sh-fullscreen-expand::before { content: "\e086"; }
.sh-fullscreen-shrink::before { content: "\e087"; }
.sh-github::before { content: "\e088"; }
.sh-gitlab::before { content: "\e089"; }
.sh-grid::before { content: "\e08a"; }
.sh-handle_node::before { content: "\e08b"; }
.sh-help::before { content: "\e08c"; }
.sh-hide::before { content: "\e08d"; }
.sh-home::before { content: "\e08e"; }
.sh-horizontal-align::before { content: "\e08f"; }
.sh-html-text::before { content: "\e090"; }
.sh-icon-app::before { content: "\e091"; }
.sh-icon::before { content: "\e092"; }
.sh-image::before { content: "\e093"; }
.sh-info::before { content: "\e094"; }
.sh-input::before { content: "\e095"; }
.sh-insert-column::before { content: "\e096"; }
.sh-insert-row::before { content: "\e097"; }
.sh-insert_col::before { content: "\e098"; }
.sh-insert_row::before { content: "\e099"; }
.sh-json_file::before { content: "\e09a"; }
.sh-layout::before { content: "\e09b"; }
.sh-left_panel::before { content: "\e09c"; }
.sh-line_arrow::before { content: "\e09d"; }
.sh-link::before { content: "\e09e"; }
.sh-list-left::before { content: "\e09f"; }
.sh-list-right::before { content: "\e0a0"; }
.sh-list::before { content: "\e0a1"; }
.sh-login_in::before { content: "\e0a2"; }
.sh-login_out::before { content: "\e0a3"; }
.sh-logo::before { content: "\e0a4"; }
.sh-map::before { content: "\e0a5"; }
.sh-meeting::before { content: "\e0a6"; }
.sh-menu::before { content: "\e0a7"; }
.sh-message::before { content: "\e0a8"; }
.sh-messages::before { content: "\e0a9"; }
.sh-minus-circle-fill::before { content: "\e0aa"; }
.sh-minus-circle::before { content: "\e0ab"; }
.sh-minus::before { content: "\e0ac"; }
.sh-more::before { content: "\e0ad"; }
.sh-move-down::before { content: "\e0ae"; }
.sh-move-up::before { content: "\e0af"; }
.sh-move::before { content: "\e0b0"; }
.sh-new-file::before { content: "\e0b1"; }
.sh-new::before { content: "\e0b2"; }
.sh-node-tree::before { content: "\e0b3"; }
.sh-notice_node::before { content: "\e0b4"; }
.sh-no_eye::before { content: "\e0b5"; }
.sh-number-field::before { content: "\e0b6"; }
.sh-number::before { content: "\e0b7"; }
.sh-open-file::before { content: "\e0b8"; }
.sh-operation::before { content: "\e0b9"; }
.sh-ops_manage::before { content: "\e0ba"; }
.sh-other::before { content: "\e0bb"; }
.sh-other_system::before { content: "\e0bc"; }
.sh-pad::before { content: "\e0bd"; }
.sh-parallel_node::before { content: "\e0be"; }
.sh-password::before { content: "\e0bf"; }
.sh-paste::before { content: "\e0c0"; }
.sh-pc::before { content: "\e0c1"; }
.sh-pdf::before { content: "\e0c2"; }
.sh-phone::before { content: "\e0c3"; }
.sh-picture-upload-field::before { content: "\e0c4"; }
.sh-plus::before { content: "\e0c5"; }
.sh-plus_circle::before { content: "\e0c6"; }
.sh-plus_diamond::before { content: "\e0c7"; }
.sh-position::before { content: "\e0c8"; }
.sh-prep::before { content: "\e0c9"; }
.sh-preps::before { content: "\e0ca"; }
.sh-preview::before { content: "\e0cb"; }
.sh-publish::before { content: "\e0cc"; }
.sh-qrcode::before { content: "\e0cd"; }
.sh-question-circle::before { content: "\e0ce"; }
.sh-radio-field::before { content: "\e0cf"; }
.sh-radio::before { content: "\e0d0"; }
.sh-rate-field::before { content: "\e0d1"; }
.sh-rate::before { content: "\e0d2"; }
.sh-rectangle::before { content: "\e0d3"; }
.sh-redo::before { content: "\e0d4"; }
.sh-reduce::before { content: "\e0d5"; }
.sh-refresh::before { content: "\e0d6"; }
.sh-reset::before { content: "\e0d7"; }
.sh-return::before { content: "\e0d8"; }
.sh-rich-editor-field::before { content: "\e0d9"; }
.sh-right_panel::before { content: "\e0da"; }
.sh-role::before { content: "\e0db"; }
.sh-ruler::before { content: "\e0dc"; }
.sh-run-in::before { content: "\e0dd"; }
.sh-run-up::before { content: "\e0de"; }
.sh-run::before { content: "\e0df"; }
.sh-runing::before { content: "\e0e0"; }
.sh-save::before { content: "\e0e1"; }
.sh-save_continue::before { content: "\e0e2"; }
.sh-scale::before { content: "\e0e3"; }
.sh-scroll::before { content: "\e0e4"; }
.sh-search-minus::before { content: "\e0e5"; }
.sh-search::before { content: "\e0e6"; }
.sh-search_down::before { content: "\e0e7"; }
.sh-search_up::before { content: "\e0e8"; }
.sh-section::before { content: "\e0e9"; }
.sh-select-all::before { content: "\e0ea"; }
.sh-select-data::before { content: "\e0eb"; }
.sh-select-field::before { content: "\e0ec"; }
.sh-select-parent::before { content: "\e0ed"; }
.sh-select::before { content: "\e0ee"; }
.sh-select_mode::before { content: "\e0ef"; }
.sh-self_template::before { content: "\e0f0"; }
.sh-set-up::before { content: "\e0f1"; }
.sh-setting::before { content: "\e0f2"; }
.sh-shapes::before { content: "\e0f3"; }
.sh-share::before { content: "\e0f4"; }
.sh-short_save::before { content: "\e0f5"; }
.sh-sign::before { content: "\e0f6"; }
.sh-slider-field::before { content: "\e0f7"; }
.sh-slider::before { content: "\e0f8"; }
.sh-slot-component::before { content: "\e0f9"; }
.sh-slot-field::before { content: "\e0fa"; }
.sh-static-text::before { content: "\e0fb"; }
.sh-stop::before { content: "\e0fc"; }
.sh-style::before { content: "\e0fd"; }
.sh-sub-form::before { content: "\e0fe"; }
.sh-switch-field::before { content: "\e0ff"; }
.sh-switch::before { content: "\e100"; }
.sh-sys-authority::before { content: "\e101"; }
.sh-system_manage::before { content: "\e102"; }
.sh-tab::before { content: "\e103"; }
.sh-table::before { content: "\e104"; }
.sh-task::before { content: "\e105"; }
.sh-template::before { content: "\e106"; }
.sh-template_download::before { content: "\e107"; }
.sh-text-field::before { content: "\e108"; }
.sh-text::before { content: "\e109"; }
.sh-textarea-field::before { content: "\e10a"; }
.sh-textarea::before { content: "\e10b"; }
.sh-time-field::before { content: "\e10c"; }
.sh-time-range-field::before { content: "\e10d"; }
.sh-timer::before { content: "\e10e"; }
.sh-to-bottom::before { content: "\e10f"; }
.sh-to-top::before { content: "\e110"; }
.sh-today::before { content: "\e111"; }
.sh-transfer::before { content: "\e112"; }
.sh-tselect::before { content: "\e113"; }
.sh-undo::before { content: "\e114"; }
.sh-up-layer::before { content: "\e115"; }
.sh-upload::before { content: "\e116"; }
.sh-user-add::before { content: "\e117"; }
.sh-user-circle::before { content: "\e118"; }
.sh-user-edit::before { content: "\e119"; }
.sh-usual_setting::before { content: "\e11a"; }
.sh-v-dot::before { content: "\e11b"; }
.sh-valid::before { content: "\e11c"; }
.sh-vedio::before { content: "\e11d"; }
.sh-vertical-align::before { content: "\e11e"; }
.sh-vertical_arrow::before { content: "\e11f"; }
.sh-video::before { content: "\e120"; }
.sh-view::before { content: "\e121"; }
.sh-vip_template::before { content: "\e122"; }
.sh-vue-sfc::before { content: "\e123"; }
.sh-warning::before { content: "\e124"; }
.sh-wechat::before { content: "\e125"; }
.sh-weibo::before { content: "\e126"; }
.sh-workstation_setting::before { content: "\e127"; }
.sh-xitong::before { content: "\e128"; }
.sh-xitong13::before { content: "\e129"; }
.sh-xtcsh::before { content: "\e12a"; }
.sh-xtgl::before { content: "\e12b"; }
.sh-zoom-in::before { content: "\e12c"; }
.sh-zoom_in::before { content: "\e12d"; }
.sh-zoom_out::before { content: "\e12e"; }
.sh-continus-ai::before { content: "\e12f"; }
.sh-continus-android::before { content: "\e130"; }
.sh-continus-api::before { content: "\e131"; }
.sh-continus-app-deploy::before { content: "\e132"; }
.sh-continus-app-sql-audit::before { content: "\e133"; }
.sh-continus-archive::before { content: "\e134"; }
.sh-continus-audit-compliance::before { content: "\e135"; }
.sh-continus-caas::before { content: "\e136"; }
.sh-continus-caasd::before { content: "\e137"; }
.sh-continus-compile::before { content: "\e138"; }
.sh-continus-consistence-check::before { content: "\e139"; }
.sh-continus-cpp::before { content: "\e13a"; }
.sh-continus-db-audit::before { content: "\e13b"; }
.sh-continus-deploy::before { content: "\e13c"; }
.sh-continus-docker::before { content: "\e13d"; }
.sh-continus-elasticsearch::before { content: "\e13e"; }
.sh-continus-fortify::before { content: "\e13f"; }
.sh-continus-golang::before { content: "\e140"; }
.sh-continus-http::before { content: "\e141"; }
.sh-continus-increment::before { content: "\e142"; }
.sh-continus-ios::before { content: "\e143"; }
.sh-continus-java::before { content: "\e144"; }
.sh-continus-jenkins::before { content: "\e145"; }
.sh-continus-junit::before { content: "\e146"; }
.sh-continus-k8s::before { content: "\e147"; }
.sh-continus-nodejs::before { content: "\e148"; }
.sh-continus-python::before { content: "\e149"; }
.sh-continus-quality-gates::before { content: "\e14a"; }
.sh-continus-safe::before { content: "\e14b"; }
.sh-continus-script-task::before { content: "\e14c"; }
.sh-continus-sonar::before { content: "\e14d"; }
.sh-continus-windows::before { content: "\e14e"; }
.sh-flow-add-user::before { content: "\e14f"; }
.sh-flow-agree::before { content: "\e150"; }
.sh-flow-back::before { content: "\e151"; }
.sh-flow-cc::before { content: "\e152"; }
.sh-flow-chaosong::before { content: "\e153"; }
.sh-flow-chehui::before { content: "\e154"; }
.sh-flow-cuiban::before { content: "\e155"; }
.sh-flow-dayin::before { content: "\e156"; }
.sh-flow-jiangxu::before { content: "\e157"; }
.sh-flow-jianqian::before { content: "\e158"; }
.sh-flow-jiaqian::before { content: "\e159"; }
.sh-flow-jujue::before { content: "\e15a"; }
.sh-flow-kefu::before { content: "\e15b"; }
.sh-flow-lianjie::before { content: "\e15c"; }
.sh-flow-qunliao::before { content: "\e15d"; }
.sh-flow-reduce-user::before { content: "\e15e"; }
.sh-flow-reject::before { content: "\e15f"; }
.sh-flow-renling::before { content: "\e160"; }
.sh-flow-revoke::before { content: "\e161"; }
.sh-flow-shenpi::before { content: "\e162"; }
.sh-flow-shenxu::before { content: "\e163"; }
.sh-flow-trace::before { content: "\e164"; }
.sh-flow-turn::before { content: "\e165"; }
.sh-flow-zhuanfa::before { content: "\e166"; }
.sh-flow-zhuanshen::before { content: "\e167"; }