@font-face {
  font-family: 'star-horse-icons';
  src: url('./star-horse-icons.woff') format('woff');
  font-display: block;
}
.sh_icon {
  font-family: 'star-horse-icons' ;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.sh-add-dept::before { content: "\e000"; }
.sh-add::before { content: "\e001"; }
.sh-advanced_template::before { content: "\e002"; }
.sh-advance_preps::before { content: "\e003"; }
.sh-alert::before { content: "\e004"; }
.sh-align_bottom::before { content: "\e005"; }
.sh-align_left::before { content: "\e006"; }
.sh-align_right::before { content: "\e007"; }
.sh-align_top::before { content: "\e008"; }
.sh-alipay::before { content: "\e009"; }
.sh-amplify::before { content: "\e00a"; }
.sh-arrow-double-down::before { content: "\e00b"; }
.sh-arrow-double-left::before { content: "\e00c"; }
.sh-arrow-double-right::before { content: "\e00d"; }
.sh-arrow-double-up::before { content: "\e00e"; }
.sh-arrow-down::before { content: "\e00f"; }
.sh-arrow-left::before { content: "\e010"; }
.sh-arrow-right::before { content: "\e011"; }
.sh-ashbin::before { content: "\e012"; }
.sh-audio::before { content: "\e013"; }
.sh-auditor::before { content: "\e014"; }
.sh-audit_node::before { content: "\e015"; }
.sh-autocomplete::before { content: "\e016"; }
.sh-auto_fit::before { content: "\e017"; }
.sh-back::before { content: "\e018"; }
.sh-backup::before { content: "\e019"; }
.sh-base_preps::before { content: "\e01a"; }
.sh-base_setting::before { content: "\e01b"; }
.sh-batch-add::before { content: "\e01c"; }
.sh-batch_delete1::before { content: "\e01d"; }
.sh-batch_delete2::before { content: "\e01e"; }
.sh-batch_delete3::before { content: "\e01f"; }
.sh-batch_download::before { content: "\e020"; }
.sh-box::before { content: "\e021"; }
.sh-branch_node::before { content: "\e022"; }
.sh-btn-upload::before { content: "\e023"; }
.sh-button::before { content: "\e024"; }
.sh-calendar::before { content: "\e025"; }
.sh-cancel::before { content: "\e026"; }
.sh-carbon-copy::before { content: "\e027"; }
.sh-card::before { content: "\e028"; }
.sh-card1::before { content: "\e029"; }
.sh-cascade::before { content: "\e02a"; }
.sh-cascader-field::before { content: "\e02b"; }
.sh-center::before { content: "\e02c"; }
.sh-charts::before { content: "\e02d"; }
.sh-check::before { content: "\e02e"; }
.sh-checkbox-field::before { content: "\e02f"; }
.sh-checkbox::before { content: "\e030"; }
.sh-clear-all::before { content: "\e031"; }
.sh-clone::before { content: "\e032"; }
.sh-close-all::before { content: "\e033"; }
.sh-close::before { content: "\e034"; }
.sh-code::before { content: "\e035"; }
.sh-collapse::before { content: "\e036"; }
.sh-color-field::before { content: "\e037"; }
.sh-color::before { content: "\e038"; }
.sh-component::before { content: "\e039"; }
.sh-condition::before { content: "\e03a"; }
.sh-config::before { content: "\e03b"; }
.sh-config1::before { content: "\e03c"; }
.sh-console_manage::before { content: "\e03d"; }
.sh-container::before { content: "\e03e"; }
.sh-content_manag::before { content: "\e03f"; }
.sh-continus-ai::before { content: "\e040"; }
.sh-continus-android::before { content: "\e041"; }
.sh-continus-api::before { content: "\e042"; }
.sh-continus-app-deploy::before { content: "\e043"; }
.sh-continus-app-sql-audit::before { content: "\e044"; }
.sh-continus-archive::before { content: "\e045"; }
.sh-continus-audit-compliance::before { content: "\e046"; }
.sh-continus-caas::before { content: "\e047"; }
.sh-continus-caasd::before { content: "\e048"; }
.sh-continus-compile::before { content: "\e049"; }
.sh-continus-consistence-check::before { content: "\e04a"; }
.sh-continus-cpp::before { content: "\e04b"; }
.sh-continus-db-audit::before { content: "\e04c"; }
.sh-continus-deploy::before { content: "\e04d"; }
.sh-continus-docker::before { content: "\e04e"; }
.sh-continus-elasticsearch::before { content: "\e04f"; }
.sh-continus-fortify::before { content: "\e050"; }
.sh-continus-golang::before { content: "\e051"; }
.sh-continus-http::before { content: "\e052"; }
.sh-continus-increment::before { content: "\e053"; }
.sh-continus-ios::before { content: "\e054"; }
.sh-continus-java::before { content: "\e055"; }
.sh-continus-jenkins::before { content: "\e056"; }
.sh-continus-junit::before { content: "\e057"; }
.sh-continus-k8s::before { content: "\e058"; }
.sh-continus-nodejs::before { content: "\e059"; }
.sh-continus-python::before { content: "\e05a"; }
.sh-continus-quality-gates::before { content: "\e05b"; }
.sh-continus-safe::before { content: "\e05c"; }
.sh-continus-script-task::before { content: "\e05d"; }
.sh-continus-sonar::before { content: "\e05e"; }
.sh-continus-windows::before { content: "\e05f"; }
.sh-copy::before { content: "\e060"; }
.sh-copy_node::before { content: "\e061"; }
.sh-crontab::before { content: "\e062"; }
.sh-cursor-move::before { content: "\e063"; }
.sh-custom_component::before { content: "\e064"; }
.sh-cut::before { content: "\e065"; }
.sh-data-card::before { content: "\e066"; }
.sh-data-syn::before { content: "\e067"; }
.sh-data-table::before { content: "\e068"; }
.sh-data-view::before { content: "\e069"; }
.sh-database::before { content: "\e06a"; }
.sh-data_center::before { content: "\e06b"; }
.sh-data_db::before { content: "\e06c"; }
.sh-data_edit::before { content: "\e06d"; }
.sh-date-field::before { content: "\e06e"; }
.sh-date-range-field::before { content: "\e06f"; }
.sh-datetime::before { content: "\e070"; }
.sh-default::before { content: "\e071"; }
.sh-delete-comp::before { content: "\e072"; }
.sh-delete-fill::before { content: "\e073"; }
.sh-delete::before { content: "\e074"; }
.sh-dept::before { content: "\e075"; }
.sh-diagram::before { content: "\e076"; }
.sh-direction-down::before { content: "\e077"; }
.sh-direction-left::before { content: "\e078"; }
.sh-direction-right::before { content: "\e079"; }
.sh-direction-up::before { content: "\e07a"; }
.sh-divider::before { content: "\e07b"; }
.sh-document::before { content: "\e07c"; }
.sh-document_download::before { content: "\e07d"; }
.sh-down-layer::before { content: "\e07e"; }
.sh-download-svg::before { content: "\e07f"; }
.sh-download::before { content: "\e080"; }
.sh-drag-move::before { content: "\e081"; }
.sh-drag::before { content: "\e082"; }
.sh-dustbin::before { content: "\e083"; }
.sh-edit::before { content: "\e084"; }
.sh-edit_node::before { content: "\e085"; }
.sh-ellipsis::before { content: "\e086"; }
.sh-email::before { content: "\e087"; }
.sh-empty_image::before { content: "\e088"; }
.sh-empty_setting::before { content: "\e089"; }
.sh-equal::before { content: "\e08a"; }
.sh-event-action::before { content: "\e08b"; }
.sh-event::before { content: "\e08c"; }
.sh-event_node::before { content: "\e08d"; }
.sh-excel-export::before { content: "\e08e"; }
.sh-excel-upload::before { content: "\e08f"; }
.sh-exchange::before { content: "\e090"; }
.sh-exclamation-circle::before { content: "\e091"; }
.sh-exec1::before { content: "\e092"; }
.sh-expand::before { content: "\e093"; }
.sh-export::before { content: "\e094"; }
.sh-eye-close::before { content: "\e095"; }
.sh-eye-open::before { content: "\e096"; }
.sh-eye::before { content: "\e097"; }
.sh-fcswitch::before { content: "\e098"; }
.sh-file-add::before { content: "\e099"; }
.sh-file-export::before { content: "\e09a"; }
.sh-file-upload-field::before { content: "\e09b"; }
.sh-file_download::before { content: "\e09c"; }
.sh-file_transfer::before { content: "\e09d"; }
.sh-filter::before { content: "\e09e"; }
.sh-flexable-12columnSystem::before { content: "\e09f"; }
.sh-flexable-alignCenter::before { content: "\e0a0"; }
.sh-flexable-alternatingGrid::before { content: "\e0a1"; }
.sh-flexable-collage::before { content: "\e0a2"; }
.sh-flexable-fillRemainingSpace::before { content: "\e0a3"; }
.sh-flexable-fillRemainingSpace2::before { content: "\e0a4"; }
.sh-flexable-fillSpace::before { content: "\e0a5"; }
.sh-flexable-grid3x3::before { content: "\e0a6"; }
.sh-flexable-grid4x4::before { content: "\e0a7"; }
.sh-flexable-horizontalBars::before { content: "\e0a8"; }
.sh-flexable-html5-2::before { content: "\e0a9"; }
.sh-flexable-html5::before { content: "\e0aa"; }
.sh-flexable-infiniteColumns::before { content: "\e0ab"; }
.sh-flexable-infiniteRows::before { content: "\e0ac"; }
.sh-flexable-masonryColumn::before { content: "\e0ad"; }
.sh-flexable-masonryRow::before { content: "\e0ae"; }
.sh-flexable-pancakeStack::before { content: "\e0af"; }
.sh-flexable-rowWrap::before { content: "\e0b0"; }
.sh-flexable-sidebar::before { content: "\e0b1"; }
.sh-flexable-stretchMiddle::before { content: "\e0b2"; }
.sh-flexable-verticalBars::before { content: "\e0b3"; }
.sh-flexable-verticalStack::before { content: "\e0b4"; }
.sh-flow-add-user::before { content: "\e0b5"; }
.sh-flow-agree::before { content: "\e0b6"; }
.sh-flow-back::before { content: "\e0b7"; }
.sh-flow-cc::before { content: "\e0b8"; }
.sh-flow-reduce-user::before { content: "\e0b9"; }
.sh-flow-reject::before { content: "\e0ba"; }
.sh-flow-revoke::before { content: "\e0bb"; }
.sh-flow-trace::before { content: "\e0bc"; }
.sh-flow-turn::before { content: "\e0bd"; }
.sh-flow_setting::before { content: "\e0be"; }
.sh-flow_temp_icon::before { content: "\e0bf"; }
.sh-form-template::before { content: "\e0c0"; }
.sh-form::before { content: "\e0c1"; }
.sh-format::before { content: "\e0c2"; }
.sh-friend_add::before { content: "\e0c3"; }
.sh-fullscreen-expand::before { content: "\e0c4"; }
.sh-fullscreen-shrink::before { content: "\e0c5"; }
.sh-github::before { content: "\e0c6"; }
.sh-gitlab::before { content: "\e0c7"; }
.sh-grid::before { content: "\e0c8"; }
.sh-handle_node::before { content: "\e0c9"; }
.sh-help::before { content: "\e0ca"; }
.sh-hide::before { content: "\e0cb"; }
.sh-home::before { content: "\e0cc"; }
.sh-horizontal-align::before { content: "\e0cd"; }
.sh-html-text::before { content: "\e0ce"; }
.sh-icon-app::before { content: "\e0cf"; }
.sh-icon::before { content: "\e0d0"; }
.sh-image::before { content: "\e0d1"; }
.sh-info::before { content: "\e0d2"; }
.sh-input::before { content: "\e0d3"; }
.sh-insert-column::before { content: "\e0d4"; }
.sh-insert-row::before { content: "\e0d5"; }
.sh-insert_col::before { content: "\e0d6"; }
.sh-insert_row::before { content: "\e0d7"; }
.sh-json_file::before { content: "\e0d8"; }
.sh-layout::before { content: "\e0d9"; }
.sh-left_panel::before { content: "\e0da"; }
.sh-line_arrow::before { content: "\e0db"; }
.sh-link::before { content: "\e0dc"; }
.sh-list-left::before { content: "\e0dd"; }
.sh-list-right::before { content: "\e0de"; }
.sh-list::before { content: "\e0df"; }
.sh-login_in::before { content: "\e0e0"; }
.sh-login_out::before { content: "\e0e1"; }
.sh-logo::before { content: "\e0e2"; }
.sh-map::before { content: "\e0e3"; }
.sh-meeting::before { content: "\e0e4"; }
.sh-menu::before { content: "\e0e5"; }
.sh-message::before { content: "\e0e6"; }
.sh-messages::before { content: "\e0e7"; }
.sh-minus-circle-fill::before { content: "\e0e8"; }
.sh-minus-circle::before { content: "\e0e9"; }
.sh-minus::before { content: "\e0ea"; }
.sh-more::before { content: "\e0eb"; }
.sh-move-down::before { content: "\e0ec"; }
.sh-move-up::before { content: "\e0ed"; }
.sh-move::before { content: "\e0ee"; }
.sh-new-file::before { content: "\e0ef"; }
.sh-new::before { content: "\e0f0"; }
.sh-node-tree::before { content: "\e0f1"; }
.sh-notice_node::before { content: "\e0f2"; }
.sh-no_eye::before { content: "\e0f3"; }
.sh-number-field::before { content: "\e0f4"; }
.sh-number::before { content: "\e0f5"; }
.sh-open-file::before { content: "\e0f6"; }
.sh-operation::before { content: "\e0f7"; }
.sh-ops_manage::before { content: "\e0f8"; }
.sh-other::before { content: "\e0f9"; }
.sh-other_system::before { content: "\e0fa"; }
.sh-pad::before { content: "\e0fb"; }
.sh-parallel_node::before { content: "\e0fc"; }
.sh-password::before { content: "\e0fd"; }
.sh-paste::before { content: "\e0fe"; }
.sh-pc::before { content: "\e0ff"; }
.sh-pdf::before { content: "\e100"; }
.sh-phone::before { content: "\e101"; }
.sh-picture-upload-field::before { content: "\e102"; }
.sh-plus::before { content: "\e103"; }
.sh-plus_circle::before { content: "\e104"; }
.sh-plus_diamond::before { content: "\e105"; }
.sh-position::before { content: "\e106"; }
.sh-prep::before { content: "\e107"; }
.sh-preps::before { content: "\e108"; }
.sh-preview::before { content: "\e109"; }
.sh-publish::before { content: "\e10a"; }
.sh-qrcode::before { content: "\e10b"; }
.sh-question-circle::before { content: "\e10c"; }
.sh-radio-field::before { content: "\e10d"; }
.sh-radio::before { content: "\e10e"; }
.sh-rate-field::before { content: "\e10f"; }
.sh-rate::before { content: "\e110"; }
.sh-rectangle::before { content: "\e111"; }
.sh-redo::before { content: "\e112"; }
.sh-reduce::before { content: "\e113"; }
.sh-refresh::before { content: "\e114"; }
.sh-reset::before { content: "\e115"; }
.sh-return::before { content: "\e116"; }
.sh-rich-editor-field::before { content: "\e117"; }
.sh-right_panel::before { content: "\e118"; }
.sh-role::before { content: "\e119"; }
.sh-run-in::before { content: "\e11a"; }
.sh-run-up::before { content: "\e11b"; }
.sh-run::before { content: "\e11c"; }
.sh-runing::before { content: "\e11d"; }
.sh-save::before { content: "\e11e"; }
.sh-save_continue::before { content: "\e11f"; }
.sh-scale::before { content: "\e120"; }
.sh-search-minus::before { content: "\e121"; }
.sh-search::before { content: "\e122"; }
.sh-search_down::before { content: "\e123"; }
.sh-search_up::before { content: "\e124"; }
.sh-section::before { content: "\e125"; }
.sh-select-all::before { content: "\e126"; }
.sh-select-data::before { content: "\e127"; }
.sh-select-field::before { content: "\e128"; }
.sh-select-parent::before { content: "\e129"; }
.sh-select::before { content: "\e12a"; }
.sh-select_mode::before { content: "\e12b"; }
.sh-self_template::before { content: "\e12c"; }
.sh-set-up::before { content: "\e12d"; }
.sh-setting::before { content: "\e12e"; }
.sh-shapes::before { content: "\e12f"; }
.sh-share::before { content: "\e130"; }
.sh-short_save::before { content: "\e131"; }
.sh-sign::before { content: "\e132"; }
.sh-slider-field::before { content: "\e133"; }
.sh-slider::before { content: "\e134"; }
.sh-slot-component::before { content: "\e135"; }
.sh-slot-field::before { content: "\e136"; }
.sh-static-text::before { content: "\e137"; }
.sh-stop::before { content: "\e138"; }
.sh-style::before { content: "\e139"; }
.sh-sub-form::before { content: "\e13a"; }
.sh-switch-field::before { content: "\e13b"; }
.sh-switch::before { content: "\e13c"; }
.sh-sys-authority::before { content: "\e13d"; }
.sh-system_manage::before { content: "\e13e"; }
.sh-tab::before { content: "\e13f"; }
.sh-table::before { content: "\e140"; }
.sh-task::before { content: "\e141"; }
.sh-template::before { content: "\e142"; }
.sh-template_download::before { content: "\e143"; }
.sh-text-field::before { content: "\e144"; }
.sh-text::before { content: "\e145"; }
.sh-textarea-field::before { content: "\e146"; }
.sh-textarea::before { content: "\e147"; }
.sh-time-field::before { content: "\e148"; }
.sh-time-range-field::before { content: "\e149"; }
.sh-timer::before { content: "\e14a"; }
.sh-to-bottom::before { content: "\e14b"; }
.sh-to-top::before { content: "\e14c"; }
.sh-today::before { content: "\e14d"; }
.sh-transfer::before { content: "\e14e"; }
.sh-tselect::before { content: "\e14f"; }
.sh-undo::before { content: "\e150"; }
.sh-up-layer::before { content: "\e151"; }
.sh-upload::before { content: "\e152"; }
.sh-user-add::before { content: "\e153"; }
.sh-user-circle::before { content: "\e154"; }
.sh-user-edit::before { content: "\e155"; }
.sh-usual_setting::before { content: "\e156"; }
.sh-v-dot::before { content: "\e157"; }
.sh-valid::before { content: "\e158"; }
.sh-vedio::before { content: "\e159"; }
.sh-vertical-align::before { content: "\e15a"; }
.sh-vertical_arrow::before { content: "\e15b"; }
.sh-video::before { content: "\e15c"; }
.sh-view::before { content: "\e15d"; }
.sh-vip_template::before { content: "\e15e"; }
.sh-vue-sfc::before { content: "\e15f"; }
.sh-warning::before { content: "\e160"; }
.sh-wechat::before { content: "\e161"; }
.sh-weibo::before { content: "\e162"; }
.sh-workstation_setting::before { content: "\e163"; }
.sh-xitong::before { content: "\e164"; }
.sh-xitong13::before { content: "\e165"; }
.sh-xtcsh::before { content: "\e166"; }
.sh-xtgl::before { content: "\e167"; }
.sh-zoom-in::before { content: "\e168"; }
.sh-zoom_in::before { content: "\e169"; }
.sh-zoom_out::before { content: "\e16a"; }
.sh-business--::before { content: "\e16b"; }
.sh-business--_1::before { content: "\e16c"; }
.sh-business--_10::before { content: "\e16d"; }
.sh-business--_11::before { content: "\e16e"; }
.sh-business--_12::before { content: "\e16f"; }
.sh-business--_13::before { content: "\e170"; }
.sh-business--_14::before { content: "\e171"; }
.sh-business--_15::before { content: "\e172"; }
.sh-business--_16::before { content: "\e173"; }
.sh-business--_17::before { content: "\e174"; }
.sh-business--_18::before { content: "\e175"; }
.sh-business--_2::before { content: "\e176"; }
.sh-business--_3::before { content: "\e177"; }
.sh-business--_4::before { content: "\e178"; }
.sh-business--_5::before { content: "\e179"; }
.sh-business--_6::before { content: "\e17a"; }
.sh-business--_7::before { content: "\e17b"; }
.sh-business--_8::before { content: "\e17c"; }
.sh-business--_9::before { content: "\e17d"; }
.sh-business-changyongziyuan::before { content: "\e17e"; }
.sh-business-chuchashenpi::before { content: "\e17f"; }
.sh-business-fanwendengji::before { content: "\e180"; }
.sh-business-feizhengshiwendengji::before { content: "\e181"; }
.sh-business-gongwenjiaohuan::before { content: "\e182"; }
.sh-business-gongzuohuibao::before { content: "\e183"; }
.sh-business-gudingzichan::before { content: "\e184"; }
.sh-business-huiyiguanli::before { content: "\e185"; }
.sh-business-huiyiyuding::before { content: "\e186"; }
.sh-business-kaoqinguanli::before { content: "\e187"; }
.sh-business-OAxitong::before { content: "\e188"; }
.sh-business-qingxiujiashenqing::before { content: "\e189"; }
.sh-business-sannianjihua::before { content: "\e18a"; }
.sh-business-tongzhifabu::before { content: "\e18b"; }
.sh-business-xiangmuguanli::before { content: "\e18c"; }
.sh-business-xinxitougao::before { content: "\e18d"; }
.sh-business-zhishichanquan::before { content: "\e18e"; }
.sh-business-zhongxindongtaifabu::before { content: "\e18f"; }
.sh-business-zongheshenpi::before { content: "\e190"; }
.sh-education-a-1-shilibiao::before { content: "\e191"; }
.sh-education-a-10-yiliaoxiang::before { content: "\e192"; }
.sh-education-a-11-yiyongweishengzhi::before { content: "\e193"; }
.sh-education-a-12-huxi::before { content: "\e194"; }
.sh-education-a-13-xiguan::before { content: "\e195"; }
.sh-education-a-14-zhutingqi::before { content: "\e196"; }
.sh-education-a-15-bingdu::before { content: "\e197"; }
.sh-education-a-16-yiyuan::before { content: "\e198"; }
.sh-education-a-17-zhusheqi::before { content: "\e199"; }
.sh-education-a-18-xiguan::before { content: "\e19a"; }
.sh-education-a-19guaizhang::before { content: "\e19b"; }
.sh-education-a-2-kouzhao::before { content: "\e19c"; }
.sh-education-a-20-shuye::before { content: "\e19d"; }
.sh-education-a-3-chuangkoutie::before { content: "\e19e"; }
.sh-education-a-4-lunyi::before { content: "\e19f"; }
.sh-education-a-5-mianqian::before { content: "\e1a0"; }
.sh-education-a-6-jiancebi::before { content: "\e1a1"; }
.sh-education-a-7-xinzang::before { content: "\e1a2"; }
.sh-education-a-8-DNA::before { content: "\e1a3"; }
.sh-education-a-9-tizhongcheng::before { content: "\e1a4"; }
.sh-education-a-bitong1::before { content: "\e1a5"; }
.sh-education-a-shu2::before { content: "\e1a6"; }
.sh-education-a-shu4::before { content: "\e1a7"; }
.sh-education-a-shu5::before { content: "\e1a8"; }
.sh-education-a-shuben2::before { content: "\e1a9"; }
.sh-education-a-shuben3::before { content: "\e1aa"; }
.sh-education-a-shuben4::before { content: "\e1ab"; }
.sh-education-a-xueshimao1::before { content: "\e1ac"; }
.sh-education-baichui::before { content: "\e1ad"; }
.sh-education-bijiben::before { content: "\e1ae"; }
.sh-education-bitong::before { content: "\e1af"; }
.sh-education-chizi::before { content: "\e1b0"; }
.sh-education-chongdian::before { content: "\e1b1"; }
.sh-education-citie::before { content: "\e1b2"; }
.sh-education-daima::before { content: "\e1b3"; }
.sh-education-deng::before { content: "\e1b4"; }
.sh-education-dianliushiyan::before { content: "\e1b5"; }
.sh-education-diqiu::before { content: "\e1b6"; }
.sh-education-diqiuyi::before { content: "\e1b7"; }
.sh-education-DNA::before { content: "\e1b8"; }
.sh-education-fanyi::before { content: "\e1b9"; }
.sh-education-gongwenbao::before { content: "\e1ba"; }
.sh-education-heiban::before { content: "\e1bb"; }
.sh-education-huiyi::before { content: "\e1bc"; }
.sh-education-jiangbei::before { content: "\e1bd"; }
.sh-education-jiaoxuelou::before { content: "\e1be"; }
.sh-education-jinpai::before { content: "\e1bf"; }
.sh-education-jisuan::before { content: "\e1c0"; }
.sh-education-jisuanqi::before { content: "\e1c1"; }
.sh-education-naozhong::before { content: "\e1c2"; }
.sh-education-qianbi::before { content: "\e1c3"; }
.sh-education-sepan::before { content: "\e1c4"; }
.sh-education-shiyan::before { content: "\e1c5"; }
.sh-education-shouji::before { content: "\e1c6"; }
.sh-education-shuben::before { content: "\e1c7"; }
.sh-education-shuxie::before { content: "\e1c8"; }
.sh-education-sousuo::before { content: "\e1c9"; }
.sh-education-suanpan::before { content: "\e1ca"; }
.sh-education-tianping::before { content: "\e1cb"; }
.sh-education-tingzhenqi::before { content: "\e1cc"; }
.sh-education-tiyu::before { content: "\e1cd"; }
.sh-education-wenjian::before { content: "\e1ce"; }
.sh-education-xianweijing::before { content: "\e1cf"; }
.sh-education-xiaoheiban::before { content: "\e1d0"; }
.sh-education-xiezizhuo::before { content: "\e1d1"; }
.sh-education-xueshimao::before { content: "\e1d2"; }
.sh-education-yuanpan::before { content: "\e1d3"; }
.sh-festival-celianggongju::before { content: "\e1d4"; }
.sh-festival-chunjie::before { content: "\e1d5"; }
.sh-festival-duanwujie::before { content: "\e1d6"; }
.sh-festival-ertongjie::before { content: "\e1d7"; }
.sh-festival-fuqinjie::before { content: "\e1d8"; }
.sh-festival-ganenjie::before { content: "\e1d9"; }
.sh-festival-gongju::before { content: "\e1da"; }
.sh-festival-hushijie::before { content: "\e1db"; }
.sh-festival-jiaoshijie::before { content: "\e1dc"; }
.sh-festival-laodongjie::before { content: "\e1dd"; }
.sh-festival-muqinjie::before { content: "\e1de"; }
.sh-festival-nvshengjie::before { content: "\e1df"; }
.sh-festival-qingrenjie::before { content: "\e1e0"; }
.sh-festival-qixi::before { content: "\e1e1"; }
.sh-festival-shengdanjie::before { content: "\e1e2"; }
.sh-festival-shuang::before { content: "\e1e3"; }
.sh-festival-yuandan::before { content: "\e1e4"; }
.sh-festival-yuanxiaojie::before { content: "\e1e5"; }
.sh-festival-zhongqiujie::before { content: "\e1e6"; }
.sh-festival-zhongyangjie::before { content: "\e1e7"; }
.sh-food-binggan::before { content: "\e1e8"; }
.sh-food-binggun::before { content: "\e1e9"; }
.sh-food-bingqilin::before { content: "\e1ea"; }
.sh-food-boluo::before { content: "\e1eb"; }
.sh-food-caomei::before { content: "\e1ec"; }
.sh-food-celianggongju::before { content: "\e1ed"; }
.sh-food-chengzi::before { content: "\e1ee"; }
.sh-food-dangao::before { content: "\e1ef"; }
.sh-food-fanqiejiang::before { content: "\e1f0"; }
.sh-food-gongju::before { content: "\e1f1"; }
.sh-food-hanbao::before { content: "\e1f2"; }
.sh-food-jiandan::before { content: "\e1f3"; }
.sh-food-kafeibei::before { content: "\e1f4"; }
.sh-food-lajiao::before { content: "\e1f5"; }
.sh-food-naixi::before { content: "\e1f6"; }
.sh-food-niunai::before { content: "\e1f7"; }
.sh-food-pingguo::before { content: "\e1f8"; }
.sh-food-pisa::before { content: "\e1f9"; }
.sh-food-putao::before { content: "\e1fa"; }
.sh-food-quqi::before { content: "\e1fb"; }
.sh-food-regou::before { content: "\e1fc"; }
.sh-food-shutiao::before { content: "\e1fd"; }
.sh-food-sudaqishui::before { content: "\e1fe"; }
.sh-food-taozi::before { content: "\e1ff"; }
.sh-food-tiantianquan::before { content: "\e200"; }
.sh-food-xiangjiao::before { content: "\e201"; }
.sh-food-xigua::before { content: "\e202"; }
.sh-food-xilanhua::before { content: "\e203"; }
.sh-food-yingtao::before { content: "\e204"; }
.sh-food-yumi::before { content: "\e205"; }
.sh-medicine-a-1-shilibiao::before { content: "\e206"; }
.sh-medicine-a-10-yiliaoxiang::before { content: "\e207"; }
.sh-medicine-a-11-yiyongweishengzhi::before { content: "\e208"; }
.sh-medicine-a-12-huxi::before { content: "\e209"; }
.sh-medicine-a-13-xiguan::before { content: "\e20a"; }
.sh-medicine-a-14-zhutingqi::before { content: "\e20b"; }
.sh-medicine-a-15-bingdu::before { content: "\e20c"; }
.sh-medicine-a-16-yiyuan::before { content: "\e20d"; }
.sh-medicine-a-17-zhusheqi::before { content: "\e20e"; }
.sh-medicine-a-18-xiguan::before { content: "\e20f"; }
.sh-medicine-a-19guaizhang::before { content: "\e210"; }
.sh-medicine-a-2-kouzhao::before { content: "\e211"; }
.sh-medicine-a-20-shuye::before { content: "\e212"; }
.sh-medicine-a-3-chuangkoutie::before { content: "\e213"; }
.sh-medicine-a-4-lunyi::before { content: "\e214"; }
.sh-medicine-a-5-mianqian::before { content: "\e215"; }
.sh-medicine-a-6-jiancebi::before { content: "\e216"; }
.sh-medicine-a-7-xinzang::before { content: "\e217"; }
.sh-medicine-a-8-DNA::before { content: "\e218"; }
.sh-medicine-a-9-tizhongcheng::before { content: "\e219"; }
.sh-tools-gaizhui::before { content: "\e21a"; }
.sh-tools-ziyuan::before { content: "\e21b"; }
.sh-tools-ziyuan_1::before { content: "\e21c"; }
.sh-tools-ziyuan_10::before { content: "\e21d"; }
.sh-tools-ziyuan_11::before { content: "\e21e"; }
.sh-tools-ziyuan_12::before { content: "\e21f"; }
.sh-tools-ziyuan_13::before { content: "\e220"; }
.sh-tools-ziyuan_14::before { content: "\e221"; }
.sh-tools-ziyuan_15::before { content: "\e222"; }
.sh-tools-ziyuan_16::before { content: "\e223"; }
.sh-tools-ziyuan_17::before { content: "\e224"; }
.sh-tools-ziyuan_18::before { content: "\e225"; }
.sh-tools-ziyuan_2::before { content: "\e226"; }
.sh-tools-ziyuan_3::before { content: "\e227"; }
.sh-tools-ziyuan_4::before { content: "\e228"; }
.sh-tools-ziyuan_5::before { content: "\e229"; }
.sh-tools-ziyuan_6::before { content: "\e22a"; }
.sh-tools-ziyuan_7::before { content: "\e22b"; }
.sh-tools-ziyuan_8::before { content: "\e22c"; }
.sh-tools-ziyuan_9::before { content: "\e22d"; }
.sh-travel-banshouli::before { content: "\e22e"; }
.sh-travel-chuhangshijian::before { content: "\e22f"; }
.sh-travel-ditu::before { content: "\e230"; }
.sh-travel-fengjing::before { content: "\e231"; }
.sh-travel-gonglve::before { content: "\e232"; }
.sh-travel-hangli::before { content: "\e233"; }
.sh-travel-huafei::before { content: "\e234"; }
.sh-travel-jipiao::before { content: "\e235"; }
.sh-travel-jiudian::before { content: "\e236"; }
.sh-travel-lvban::before { content: "\e237"; }
.sh-travel-meishi::before { content: "\e238"; }
.sh-travel-menpiao::before { content: "\e239"; }
.sh-travel-paishe::before { content: "\e23a"; }
.sh-travel-qianzheng::before { content: "\e23b"; }
.sh-travel-shangdian::before { content: "\e23c"; }
.sh-travel-tianqi::before { content: "\e23d"; }
.sh-travel-youlechangsuo::before { content: "\e23e"; }
.sh-travel-yuyanfanyi::before { content: "\e23f"; }
.sh-travel-zhuyishixiang::before { content: "\e240"; }
.sh-travel-zuche::before { content: "\e241"; }